.nav-text {
    color: #563d7c !important;
}

.nav > li > a:hover {
    color: #463265;
    background-color: #F9F9F9 !important;
}

.translation {
}

.word-text {
    text-align: center;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    margin-right: 50px;
}

.options {
    margin: 30px 0 0 250px;
}

.word {
    margin-top: 80px;
}

.hidden {
    display: none;
}

#submit-note-btn {
    margin-top: 10px;
}
